@charset "UTF-8";
* {
  trnasition: 0.5s;
  margin: 0;
}

@font-face {
  font-family: 'openhuninn';
  src: url('../fonts/jf-openhuninn-2.0.ttf') format("truetype");
}

:root {
	--pinkishgray:#c1686d;
	--pinkishgray2:#e6a0a1;
	--pinkishgray3:#f87b8d;
	--pinkishgray4:#ef95b1;
	--pinkishgray5:#d61d5b;
	--pinkishgray6:#f96491;
	--irongray:#2b2b2b;
	--irongray2:#282828;
	--purple:#ba97a2;
	--pink:#fdeef5;
	--pink2:#f4737c;
	--red:#ae222f;
	--red2:#d64756;
	--gray:#545454;
	--gray2:#6d6d6d;
	--white:#fff;
	--yellow:#f8ee91;
	--lightyellow:#ffef86;
  	--lightyellow2:#f6e6a8;
	--purple:#b075ba;
	--bluw:#637dce;
	--lightblue:#0080cc;
}

p,
li,
section,
header,
footer {
  font-family: "Noto Sans TC", "微軟正黑體", Arial, sans-serif;
  letter-spacing: 1px;
}

a {
	text-decoration:none;
}

/* container */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
	padding-right: var(--bs-gutter-x, 0.75rem);
	padding-left: var(--bs-gutter-x, 0.75rem);
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 576px) {
	.container,
	.container-sm {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container,
	.container-md,
	.container-sm {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1140px;
	}
}
@media (min-width: 1400px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: 1320px;
	}
}

@media (min-width: 1900px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl,
	.container-3xl {
		max-width: 1320px;
	}
}

.text-start {
	text-align: left !important;
}
.text-end {
	text-align: right !important;
}
.text-center {
	text-align: center !important;
}

.w-50 {
	width: 50% !important;
}

.w-60 {
	width: 60% !important;
}

.w-75 {
	width: 75% !important;
}

.w-80 {
	width: 80% !important;
}

.w-85 {
	width: 85% !important;
}

.w-90 {
  width: 90% !important;
}  

.w-100 {
	width: 100%;
}

.vw-100 {
	width: 100vw;
}

.d-block {
	display: block !important;
}

.d-flex {
	display: flex !important;
}

.d-inline-flex {
	display: inline-flex !important;
}

.d-none {
	display: none !important;
}

.p-0 {
	padding: 0rem !important;
}
.pt-1 {
	padding-top: 0.25rem !important;
}
.pt-2 {
	padding-top: 0.5rem !important;
}
.pt-3 {
	padding-top: 1rem !important;
}
.pt-4 {
	padding-top: 1.5rem !important;
}

.pt-5 {
	padding-top: 3rem !important;
}

.pt-10 {
	padding-top: 6rem !important;
}

.pt-200 {
	padding-top: 200px !important;
}

.pb-3 {
	padding-bottom: 1rem !important;
}

.pb-50 {
	padding-bottom: 50px !important;
}

.pb-100 {
	padding-bottom: 150px !important;
}

.pb-150 {
	padding-bottom: 130px !important;
}

.pb-200 {
	padding-bottom: 200px !important;
}

.pb-300 {
	padding-bottom: 300px !important;
}

.py-3 {
 	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}

.py-25 {
  	padding-top: 25px !important;
	padding-bottom: 25px !important;
}

.py-25-sm {
  	padding-top: 25px !important;
	padding-bottom: 25px !important;
}



.py-80 {
  	padding-top: 80px !important;
	padding-bottom: 80px !important;
}

.py-100 {
  	padding-top: 100px !important;
	padding-bottom: 100px !important;
}


.m-auto {
  margin: auto !important;
}

.pr-5 {
	padding-right: 5px !important;
}

.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--bs-gutter-y) * -1);
	margin-right: calc(var(--bs-gutter-x) * -0.5);
	margin-left: calc(var(--bs-gutter-x) * -0.5);
}

/* */
#goTop {
  background-image: url(../images/top.png);
  display: none;
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 20px;
  right: 30px;
  font-weight: 600;
  line-height: 80px;
  border-radius: 99rem;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  z-index: 100;
}

#goTop:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: var(--lightyellow);
  text-align: center;

  z-index: 99;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 6px 15px;
}

.scroll-tag {
  margin: auto;
}

.logo {
  display: inline-block;
  font-size: 28px;
}

ul {
  display: inline-block;
}

li {
  display: inline-block;
}

.menu-height li {
  cursor: pointer;
}


h2 {
  font-weight: 600;
  color: #cf9f42;
  font-size: 24px;
  margin-bottom: 12px;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.hidden {
	overflow: hidden;
}

section:nth-last-child {
  margin-bottom: 0px;
}

.carousel li {
  list-style: none;
}

.carousel {
  position: relative;
  height: 310px;
  width: 440px;
  margin: 0 auto;
  padding: 30px;
}

.carousel__images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner {
  position: relative;
  top: -100px;
}

.banner_title {
  position: relative;
}

.swiper-slide-caption {
	position: absolute;
	top: 24%;
	transform: translateY(-50%);
	left: 10%;
	right: 0;
	width: 100%;
}

@keyframes move {
    0% {
        margin-top: 0;
    }
    25% {
        margin-top: 8px;
    }
    50% {
        margin-top: 0;
    }
    75% {
        margin-top: 8px;
    }
    100% {
        margin-top: 0;
    }
}

.hny-bigmark {
	width: 40%;
    -webkit-animation: opacity 2s ease-in, move 2s ease-in infinite;
    animation: opacity 3s ease-in, move 3s ease-in infinite;
}

.swiper-slide-caption-2 {
  	position: absolute;

  	top: 64%;
  	right: -27%;

 	transform: translateY(-50%);
	width: 100%;
  	z-index: 3;
}

.hny-bio {
	width: 18%;
}

.slider-padding {
  width: 95%;
}

.logo-w {
  width: 60%;
}

.autumn {
  width: auto;
}

@media (max-width: 575.98px) { 
	.hny-bigmark {
		width: 77%;
	}

	.hny-bio {
		width:  35%;
	}
	
	.swiper-slide-caption {
		position: absolute;
		top: 23%;
		left: 0;
    	right: 0;
	}

	.swiper-slide-caption-2 {
    	top: 78%;
    	right: -25%;
	}
}

/* 按鈕 */
.scroll-tag {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0;
  width: 100%;
}

.scroll-position {
	position: relative;
	margin-top: -160px;
	z-index: 999;

	top: 230px;
} 

.button-honey-top {
	top: 110px;
	padding: 0;
	background-color: transparent;
	z-index: 990;
}

.button-honey {
  	width: calc((100% - 60px) / 4);
    max-width: 230px;
    height: 70px;
  	list-style: none;
  	border-radius: 999px;
  	background: var(--lightyellow2);
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	cursor: pointer;
  box-shadow:
    0 10px 18px rgba(0 128 204 / 30%),
    0 4px 8px rgba(0,0,0,0.06),
    inset 0 1px 0 rgba(255,255,255,0.8);  	
	transition: .3s;
}

.honey-text {
  width: 160px;
  display: block;
  object-fit: contain;
}

.button-honey:hover {
  transform: translateY(-5px);
}

@media (max-width: 768.98px) {

	.scroll-tag {
    	gap: 12px;
  	}

  .button-honey {
    width: calc((100% - 12px) / 2);

    max-width: none;

    height: 60px;
  }

  .honey-text {
    width: 100px;
  }

}

/* 寵愛專案 */

.bg-1 {
  position: relative;

  margin-top: -160px;
  padding: 180px 0 20px;

  background: url(../images/bg-1.png) center top no-repeat;
  background-size: cover;
  /* overflow: hidden; */
}

.pet-box {
  text-align: center;
  margin: auto;
}

.pet-title {
  width: 50%;
  margin-top: 80px;
  position: relative;
}

/* 左右排版 */
.honeymoon-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 20px;
}

/* 左 */
.honeymoon-wrap .left {
  width: 60%;
  position: relative;
}

/* 裝飾（貼左圖） */
.adorn {
  position: absolute;
  inset: 0;
  pointer-events: none;
  top: 4%;
  left: -6%;
  transform: translate(-50%, -50%);
  width: 28%;
}

/* 貼左邊那張圖 */
.adorn .garnish-1 {
	width: 85%;
    position: absolute;
    top: -36%;
    left: 28%;
    transform: translateY(-50%);
}

.honeymoon-wrap .left .content{
  width: 90%;
  display: block;

  float: right;
  position: relative;
  top: -46%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* 右 */
.honeymoon-wrap .right {
  width: 50%;
  position: relative;
  top: 40px;
  left: 50px;
}

/* 主圖 */
.honeymoon-wrap .right > img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 11;
}

/* ========== adorn-2 ========== */
.adorn-2 {
  position: absolute;
  top: -25%;
  right: -18%;
  width: 45%;
  z-index: 3;
  pointer-events: none;
}

.adorn-2 .garnish-2 {
  width: 100%;
  height: auto;
  display: block;
}

/* ========== adorn-3 ========== */
.adorn-3 {
    position: absolute;
    top: 80%;
    right: -10%;
    width: 60%;
    z-index: 11;
    pointer-events: none;
}

.adorn-3 .garnish-3 {
  width: 100%;
  height: auto;
  display: block;
}

.honeymoon-wrap .right img {
  max-width: 100%;
  display: block;
}

@media (min-width: 1400px) {
	.pet-box {
    	padding-bottom: 80px;
	}
}

@media (max-width: 991px) {
  .honeymoon-wrap {
    flex-direction: column;
    text-align: center;
	padding-top: 80px;
  }

  .honeymoon-wrap .left,
  .honeymoon-wrap .right {
    width: 100%;
  }

  .honeymoon-wrap .right {
    margin-top: -75px;
    text-align: center;
  }

  	.pet-title {
    	margin: 90px 0  0;
		width: 100%;
	}

	.adorn-2 .garnish-2 {
    	width: 29%;
        top: 14%;
        right: -6%;
	}

	.honeymoon-wrap .left .content {
    	width: 95%;
		margin-top: 35px;
	}

}

@media (max-width: 575.98px) {
	.button-honey {
  		width: 135px;
	}

	.menu-height li.on,
	.menu-height .li:hover {
		width: 135px;
	}

	.honeymoon-wrap .left .content {
    	width: 100%;
	}


	.adorn .garnish-1 {
    	width: 68%;
        top: -225%;
    	right: 0;
		left: 42%
	}


	.honeymoon-wrap {
        padding-top: 45px;
    }

	.honeymoon-wrap .right {
		margin-top: 0;
		top: 0;
		left: 23px;
	}

	.honeymoon-wrap .right img {
    	max-width: 85%;
	}

	.adorn-2 .garnish-2 {
    	width: 36%;
    	top: 5%;
    	right: -12%;
	}

}

/* 寵愛專案 2 */
.bg-2 {
  background: url(../images/bg-2.jpg) top no-repeat;
  background-size: cover;

  position: relative;
  padding: 60px 0;

  z-index: 10;
  isolation: isolate;

  top: -90px;
}

.limited-top {
	position: relative;
	top: -170px;
}

/* 三欄排版 */
.info-block {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

/* 每一組 */
.info-item {
  flex: 1;
  min-width: 260px;
  text-align: left;
}

/* 圖片 */
.info-item .gwp-1,
.info-item .gwp-2,
.info-item .gwp-3 {
	height: auto;
  	margin-bottom: 10px;
	width: 25%;
}

/* 副標 */
.feedback-sub {
	position: relative;

	font-size: 22px;
	font-weight: 500;
	font-family: "微軟正黑體";
	letter-spacing: 0.1rem;
	color: var(--lightblue);
	margin: 0 0 30px;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	max-width: 707px;
	width: 100%;
	height: 105px;

	background: url("../images/adorn-3.png") no-repeat center;
	background-size: contain;

	text-align: center;
}

.feedback-sub span {
	font-weight: 600;
}

/* 愛心icon */
.feedback-sub::before {
	content: "";
	width: 22px;
	height: 22px;
	margin-right: 20px;

	background: url("../images/adorn-4.png") no-repeat center;
	background-size: contain;

	display: inline-block;
	flex-shrink: 0;
}

/* 右側圖片 */
.feedback-sub::after{
	content:"";
	position:absolute;

    right: -62%;
    top: 1%;
    transform: translateY(-50%);
    width: 90%;

	height:120px;
	

	background:url("../images/content-1.png") no-repeat center center;
	background-size:contain;
}

/* 內文 */
.info-text {
  	margin: 10px 10px 30px;
  	font-size: 22px;
  	font-weight: 500;
	font-family: "微軟正黑體";
  	line-height: 1.8;
  	color: var(--lightblue);
 	letter-spacing: 0.1rem;
}

.info-item:nth-child(2) .info-text {
  margin: 10px 10px 0;
}


/* hover 效果 */
.info-item {
  transition: 0.3s ease;
}

.info-item:hover {
  transform: translateY(-6px);
}

/* 甜蜜分享 */

.info-section {
  display:flex;
  align-items:flex-start;
  margin:30px 0 20px;
}

.nfo-icon {
  width:110px;
  flex-shrink:0;
  margin-right:24px;
}

.nfo-icon img{
  width:100%;
  display:block;
}

.info-section .content {
  flex:1;
}

.title-img {
  display:block;
  max-width:420px;
}

.info-section .text {
  color:#1784c7;
  font-size:24px;
  line-height:1.8;
}

.text strong {
  font-size:38px;
  font-weight:bold;
}

.notice {
  margin-top:30px;
  border:2px solid #4ea6cf;
  border-radius:40px;
  padding:24px 32px;
  color:#187cc0;
  font-size:22px;
  line-height:1.8;
}

.notice-title {
  font-weight:bold;
  margin-bottom:8px;
}

@media (max-width: 1399.98px) {
	.limited-top {
		top: -100px;
		padding: 0 100px;
	}
}

@media (max-width: 991.98px) {
	.scroll-tag {
    	gap: 22px;
	}

	.scroll-position {
		margin-top: -230px;
	}

	.button-honey {
    	max-width: 170px;
	}

	.honey-text {
    	width: 140px;
	}

	.limited-top {
		top: -25px;
		padding: 0 20px;
	}

	.bg-2 {
        z-index: -2;
    }

	.info-item .gwp-1,
	.info-item .gwp-2 ,
	.info-item .gwp-3  {
  		width: 40%;
	}
}

@media (max-width: 768.98px) {
	.limited-top {
		top: -35px;
	}

  .info-block {
    gap: 30px;
  }

  .info-label {
    min-width: 200px;
    height: 50px;

    font-size: 20px;

    padding: 0 20px;
  }

  	.info-text {
    	font-size: 16px;
        margin: 0 10px 10px;
        font-weight: 500;
        line-height: 25px;
  	}

  	.info-item:nth-child(2) .info-text {
    	margin: 0 10px 0;
	}

	.feedback-sub {
    	font-size: 18px;
		margin: 0 0 0;
	}
}

@media (max-width: 575.98px) {

  	.info-item .gwp-1,
	.info-item .gwp-2 ,
	.info-item .gwp-3  {
  		width: 45%;
	}
}

@media (max-width: 399.98px) {

  	.info-item .gwp-1,
	.info-item .gwp-2 ,
	.info-item .gwp-3  {
  		width: 70%;
	}

	 	.feedback-sub {
    	font-size: 16px;
    	line-height: 1.6;

    	padding: 20px 0 30px;
    	height: 55px;

    	letter-spacing: 0;

    	background: url(../images/adorn-6.png) no-repeat center;
    	background-size: 100% 100%;

    	display: flex;
    	flex-wrap: wrap;

    	justify-content: flex-start; 
    	text-align: left;             
    	align-items: center;

    	padding-left: 20px;          
	}

	.feedback-sub span {
    	width: 100%;
    	display: block;
    	margin-top: 0;
		text-indent: 40px;
		font-size: 18px;
	}
}

/* 紫藤介紹 */
.bg-3 {
  	background: url(../images/bg-3.jpg) center no-repeat;
  	background-size: cover;

  	position: relative;
  	margin-top: -160px;
  	padding: 80px 0 0;
}

.box-border3 {
	border: 3px solid var(--pinkishgray4);
}

/* 玫瑰花介紹 */
.bg-4 {
  	background: url(../images/bg-4.jpg) center no-repeat;
  	background-size: cover;
  	padding: 80px 0 0;
}

.flower-subtitle2 {
	font:  45px  openhuninn ;
	color: var(--pinkishgray);
	width: 240px;
	height: 62px;
	background: url("../images/decorate-13.png") bottom no-repeat;
}
 
.box-border4 {
    border: 3px solid var(--red2);
}


/* 薰衣草介紹 */
.bg-5 {
  	background: url(../images/bg-5.jpg) center no-repeat;
  	background-size: cover;
  	padding: 80px 0 0;
}

.lavender-pt {
	padding: 10rem 0 3rem;
}

.box-border5 {
	border: 3px solid var(--purple);
}

.lavender-box{
  	flex: 0 0 auto;
  	width: 100%;
}

.decorate-icon12,
.decorate-icon13{
	width: 23px;
	height: 20px;
	display: flex;
	margin: 10px auto 0;
}

.flower-date {
	font:  20px  openhuninn ;
	color: var(--pinkishgray5);
	width: 300px;
	height: 25px;
	text-align: center;
	margin: 20px auto 5px;
	background: url("../images/decorate-11.png") bottom no-repeat;

}	

.lavender-box-img img {
	width: 80%;
	margin: auto;
	display: flex;
}

.lavender-box-img .lavender-w {
	width: 100%;
	margin: auto;
	display: flex;
}

.lavender-flex {
	display: flex;
	margin: auto;
	justify-content: center;
}

.lavender-grid {
	display: grid;
	width: 90%;
}

.tourist-m {
	margin: 20px auto ;
}

/* 魯冰花介紹 */
.bg-6 {
  	background: url(../images/bg-6.jpg) center no-repeat;
  	background-size: cover;

  	padding: 80px 0 0;
}

.flower-title2 {
	width: 30%;
	margin: auto;
}

.lupine-img {
	width: 75%;
	margin: auto;
	padding: 60px 0 10px;
}

.lupine-grid {
	display: grid;
}

.box-border6 {
	border: 3px solid var(--bluw);
}

.flower-flex4 {
	display: block;
	align-items: center;
	justify-content:left;
	padding: 10px 0 0;
}

.Cherry-subtitle2 {
    font: 50px openhuninn;
    color: var(--pinkishgray);
    width: 160px;
    height: 62px;
    background: url(../images/decorate-1.png) bottom no-repeat;
	margin: auto;
}

.lupine-content {
	text-align:justify;
	width: 85%;
	padding: 1.5rem;
	border: 3px dashed var(--purple);
	border-radius: 25px;
	background: rgba(255, 255, 255, 0.6);

	margin: 20px auto 20px 40px;
}

.lupine-content p {
    font-size: 16px;
    font-family: "微軟正黑體";
    color: var(--gray);
    letter-spacing: 0.05rem;
    line-height: 25px;
}

/* min */
@media (min-width: 768px) {
	.flower-box-content{
    	flex: 0 0 auto;
    	width: 50%;
    	margin: auto;
  	}

	.flower-box-img{
    	flex: 0 0 auto;
    	width: 50%;
    	margin: auto;
  	}

	.flower-flex {
   		padding: 40px 40px 0;
	}


	.Cherry-box-content{
    	flex: 0 0 auto;
    	width: 55%;
    	margin: auto;
  	}

	.Cherry-box-img{
    	flex: 0 0 auto;
    	width: 45%;
    	margin: auto;
		display: flex;
  	}

	.order-1 {
		order: 1;
	}

	.order-2 {
		order: 2;
	}

	.lavender-box{
  		flex: 0 0 auto;
  		width: 48%;
		margin: 6px;
	}
}

@media (min-width: 992px) {
	.flower-box-content{
    	flex: 0 0 auto;
    	width: 45%;
    	margin: auto;
  	}

	.flower-box-img{
    	flex: 0 0 auto;
    	width:48%;
    	margin: auto;
  	}

	.flower-flex {
   		padding: 40px 46px 0;
	}

	.flower-title {
    	width: 75%;
	}

	.flower-flex2 {
		padding: 40px 115px 0;
	}

	.lavender-box{
  		flex: 0 0 auto;
  		width: 33.3333333333%;
		margin: auto;
	}

	.order-md-1 {
		order: 1;
	}

	.order-md-2 {
		order: 2;
	}

	.order-md-3 {
		order: 3;
	}

	.order-md-4 {
		order: 4;
	}

	.decorate-icon13{
		transform:rotate(180deg);
	}

	.lavender-box-img .lavender-w {
		width: 80%;
	}

	.flower-box-img img{
		width: 90%;
	}
}

@media (min-width: 1200px) { 
	
	/* .button-honey {
  		width: 190px;
		height: 110px;
		background: url("../images/button0.png") top no-repeat;
		text-align: center;
	} */

	.button-honey:hover h2,
	.button-honey:hover span {
		color: var(--yellow);
	}

	/* .menu-height li.on,
	.menu-height .li:hover {
  		width: 190px;
		height: 110px;
		background: url("../images/button0-2.png") top no-repeat;
		text-align: center;

		color: var(--white);
	} */

	.button-honey h2 {
    	font: 25px openhuninn;
    	padding-top: 35px;
	}

	.scroll-position {
		margin-top: -280px;
	} 

	.bg-1 {
    	margin-top: -180px;
	}

	.flower-box-content{
    	flex: 0 0 auto;
    	width: 42.66666667%;
    	margin: auto;
  	}

	.flower-box-img{
    	flex: 0 0 auto;
    	width: 48.66666667%;
    	margin: auto;
  	}

	.flower-box-img img{
		width: 88%;
	}
	
	.decorate-pt {
		padding-top: 1rem;
	}

	.Cherry-banner-img {
   		width: 75%;
	}

	.Cherry-banner-title img{
		width: 70%;
	}

	.flower-flex3 {
		padding: 40px 65px 0;
	}

	.flower-date {
    	width: 334px;
	}

	.px-100 {
		padding-left: 100px;
		padding-right: 100px;
	}

	.px-70 {
		padding-left: 70px;
		padding-right: 70px;
	}

	.tourist p {
		text-align: center;
	}

}

@media (min-width: 1600px) { 
	.px-70 {
		padding-left: 90px;
		padding-right: 90px;
	}
}


/* max */
@media (max-width: 1399.98px) { 
	.button-honey-top {
   		top: 100px;
	}

	.adorn .garnish-1 {
    	width: 60%;
    	top: -93%;
    	right: 0;
		left: 73%;
	}

	.Cherry-banner-box .Cherry-banner-title {
    	top: 100%;
    	left: 55%;
	}

	.Cherry-banner-title img {
   	 	width: 75%;
	}
	
	.flower-flex3 {
		padding: 40px 50px 0;
	}

	.Cherry-box-img img {
   		width: 90%;
	}

	.Cherry-box-img .img-w {
    	width: 95%;
	}

	.bg-2 {
    	margin-top: 60px;
	}

	.bg-3 {
    	margin-top: -153px;
		padding: 56px 0 0;
	}

	.Cherry-banner-img {
    	width: 80%;
	}
	
	.flex-sm {
        display: block;
        padding: 20px 60px 0;		
    }

	.flex-sm-2 {
        display: block;
        padding: 20px 50px 0;		
    }

	.tourist p {
    	text-align: center;
		justify-content: center;
    	padding: 0;
		display: flex;
        align-items: end;
		height: 30px;
	}

	.tourist3-content {
    	margin: 20px 80px 20px auto;
	}

	.chosen-box {
    	width: 100%;
	}
}

@media (max-width: 1199.98px) { 
	.scroll-position {
    	margin-top: -230px;
    }

	.banner {
  		top: -50px;
	}

	.button-honey-top {
    	top: 45px;
	}

	.directions P {
        font: 14px openhuninn;
        width: 80%;
        margin: auto;
        line-height: 20px;
    }

	.travel-title {
    	font: 18px openhuninn;
		line-height: 27px;
		width: 100%;
	}

	.list-price {
    	font: 25px openhuninn;
		text-align: right;
		padding-top: 10px;
	}

	.list-price > .yuan,
		.list-price > .list-sign {
    	font: 16px openhuninn;
    	font-weight: 500;
	}

	.travel-box {
		display: block;
	}

	.chosen-box li {
		background-image: linear-gradient(to right, #545454 8px, transparent 8px);
    	background-size: 15px 1px;
    	background-repeat: repeat-x;
    	background-position: left bottom;
	}

	.border-dashed {
		display: none;
	}

	.chosen-box .travel-img {
    	top: 1%;
		left: 55%;
	}

	.travel-img img {
    	width: 80%;
	}

	.label-pt {
   		padding: 5rem 20px 20px;
	}

	.Cherry-box-img img {
   		width: 95%;
	}

	.Cherry-box-img .img-w {
        width: 100%;
    }

	.chosen-box {
    	margin: 90px auto 50px;
	}

	.lavender-box-img .lavender-w {
    	width: 80%;
	}

	.flower-title2 {
    	width: 50%;
	}

	.lupine-img {
    	width: 85%;
	}

	.lupine-content {
    	width: 90%;
    	margin: 20px auto;
	}

	.lupine-box {
		padding-bottom: 20px;
	}

	.tourist-content,
	.tourist3-content  {
		margin: 20px auto;
	}

	.flex-sm{	
        padding: 8px 10px 0;
    }

	.flower-box-img img {
    	width: 95%;
	}

	.flower-title {
    	width: 80%;
	}

	.flower-flex3 {
        padding: 40px 20px 0;
    }

	.flower-flex2 {
        padding: 40px 95px 0;
    }

	.Cherry2-box {
    	padding-top: 0;
	}

	.Cherry-box {
    	padding-top: 100px;
	}

	.px-20 {
		padding-left: 20px;
		padding-right: 20px;
	}

	.tourist p {
		text-align: center;
		justify-content: center;
    }

	.lavender-pt {
    	padding: 8rem 0 4rem;
	}

	.flex-sm-2 {
        padding: 20px 10px 0;		
    }
}

@media (max-width: 991.98px) { 
	.adorn .garnish-1 {
        width: 55%;
        top: -115%;
        right: 0;
        left: 58%;
    }
}

@media (max-width: 767.98px) { 
	nav {
    	padding: 8px 15px 8px;
	}

	.logo-w {
    	width: 50%;
    	float: left;
	}

	.flower-flex {
    	padding: 8px 40px 0;
	}

	.flex-sm {
		display: block;
		padding: 20px 40px 0;
	}

	.flower-m {
		margin: 10px auto 0;
		font: 35px openhuninn;
		height: 52px;
	}
	
	.menu-nav {
	    z-index: 99999;
	}

	.button-honey-top {
		position: relative;
    	top: -170px;
	}

	.bg-1 {
        margin-top: 0;
    }

	.flower-flex2,
	.flower-flex3  {
		display: block;
		padding: 5px 45px 0;
	}

	.tourist-content,
	.lupine-content {
    	width: 75%;
		margin: 20px auto;
	}

	.chosen-box {
		width: 100%;
    	margin: 100px auto 40px;
	}

	.label-pt {
		padding: 20px 15px;
	}

	.Cherry-box {
        padding: 110px 55px 0;
    }

	.directions {
    	padding-top: 15px;
		padding-bottom: 15px;
	}

	.decorate-w {
		width: 150%;
	}

	.bg-2 {
        margin-top: 85px;
    }

	.Cherry-subtitle {
    	font: 40px openhuninn;
		width: 130px;
    	height: 50px;
		margin: auto;
	}
	
	.tourist p { 
		padding-top: 5px;
		text-align: center;
		justify-content: center;
	}

	.Cherry-subtitle h3 {
		text-align: center;
    	padding-left: 0;
	}

	.bg-4,
	.bg-5,
	.bg-6 {
    	padding: 40px 0 0;
	}
	
	.lavender-pt {
    	padding: 4rem 0 0;
	}

	.lavender-box-img img {
    	width: 75%;
		padding-top: 50px;
	}

	.lavender-box-img .lavender-w {
		width: 100%;
	}

	.flower-title2 {
    	width: 80%;
	}	

	.lupine-img {
    	width: 95%;
    	padding: 30px 0 10px;
	}

	.Cherry-subtitle2 {
    	font: 45px openhuninn;
	}

	.travel-title {
        font: 16px openhuninn;
		line-height: 25px;
    }

	#goTop {
    	right: 10px;
	}
	
	.Cherry-banner-box .Cherry-banner-title {
    	top: 163%;
        left: 40%;
	}

	.Cherry-banner-title img {
   	 	width: 132%;
	}

	.flower-subtitle {
		margin: auto;
	}

	.tourist2-content,
	.tourist3-content {
		margin: 20px auto;
	}

	.flower-title {
    	width: 65%;
    	text-align: left;
	}

	.tourist-flex {
		display: block;
	}

	.tourist-flex .arrow {
		margin: auto;
		transform: rotate(180deg);
	}

	.tourist-flex .arrow-2 {
		margin: 20px auto 0; 
		transform: rotate(180deg);
	}

	.tourist-flex .arrow-m {
		margin: 20px auto 0; 
	}

	.tourist p.tourist-left,
	.tourist3-content p.tourist-left{
		text-align: center;
		justify-content: center;
	}

	.tourist2-content {
    	width: 80%;
	}
	
	.travel-img img {
    	width: 100%;
	}

	.chosen-box .travel-img {
        left: 50%;
    }

	.Cherry-banner-img {
        width: 100%;
    }

	.Cherry-box-img img {
        width: 100%;
    }

	.Cherry-box-img .img-w {
        width: 90%;
    }

	.Cherry2-box {
        padding-top: 20px;
    }

	.flower-box-img img {
		padding-top: 10px;
		width: 85%;
	}

	.px-20 {
		padding-left: 0;
		padding-right: 0;
	}
}



@media (max-width: 575.98px) { 
	nav {
    	padding: 8px 15px 8px;
	}

	.logo-w {
    	width: 50%;
    	float: left;
	}

	.directions P {
        width: 102%;
    }

	.bg-1 {
        margin-top: 120px;
		padding: 180px 0 0;
    }

	.Cherry-box {
    	padding: 180px 0 0;
	}

	.Cherry-box-img .img-w {
        width: 80%;
    }

	.Cherry-banner-img {
		width: 90%;
	}

	.Cherry-box-img img {
        width: 75%;
    }

	.chosen-box {
		width: 95%;
        margin: 60px auto 40px;
    }

	.chosen-box .travel-img {
		left: 49%;
	}

	.decorate-w {
		width: 210%;
	}

	.decorate-pt {
    	padding-top: 1rem;
	}

	.travel-img img {
    	width: 110%;
	}

	.flower-title {
		width: 75%;
	}

	.lavender-box-img .lavender-w {
		width: 78%;
	}

	.lavender-box-img img {
        padding-top: 10px;
    }

	.lavender-pt { 
		padding-top: 170px;
	}

	.label-pt {
        padding: 3rem 15px 20px;
    }

	.tourist2-content {
    	width: 70%;
	}

	.py-25-sm {
  		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}
}

@media (max-width: 545.98px) {
    .bg-1 {
        margin-top: -185px;
    }

	.label-pt {
        padding: 5rem 15px 20px;
    }

	.label-area p {
    	font: 20px openhuninn;
	}
}


/*  footer  */
.QR-code {
  width: 50px;
  height: 50px;
  margin: 0;
  display: block;
  float: left;
}

.contact-box:last-of-type {
  align-items: flex-start;
  width: 0;
  padding-left: 5%;
}

.QR-txt {
  display: inline-block;
  margin-left: 8px;
  line-height: 21px;
  font-size: 0.7rem;
  white-space:nowrap;
}

.footer-bg{
	background-color: var(--pinkishgray6);
}

.contact-box-warp {
  display: flex;
  flex-wrap: wrap;
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 25%;
  margin: 20px 0;
}

.contact-box p span {
  letter-spacing: 0.2rem;
}


.foot-wrap {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 3% 0;
  color:  var(--white);
}

.footer-left {
  width: calc(35% - 1px);
  text-align: left;
}

.footer-left p {
  color: var(--white);
}

.footer-left h4 {
  color: var(--white);
  font-weight: bold;
  font-size: 1.05rem;
  line-height: 30px;
}

.footer-left p:nth-of-type(1) {
  color: var(--white);
  margin-bottom: 30px;
  margin-top: 15px;
}

.footer-left .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.5px 0 6.5px 6px;
  border-color: transparent transparent transparent var(--white);
  display: inline-block;
  margin-right: 5px;
}

.footer-left a {
  color: var(--white);
  text-decoration: none;
}

.footer-line {
  width: 3px;
  min-height: 210px;
  background: var(--white);
  margin: 10px 2%;
}

.footer-right {
  display: flex;
  width: 62%;
  justify-content: space-between;
  margin: auto;
}

.footer-right p {
  font-size: 0.8rem;
  color: var(--white);
  margin-bottom: 1rem;
}

@media (max-width: 1499.98px) {
  .contact-box:last-of-type {
      width: 40%;
      padding-left: 15%;
  }

  .contact-box {
      width: 33%;
      margin: 0 0 10px;
  }
  
}

@media (max-width: 1200px) {
  .contact-box:last-of-type {
      display: none;
  }
  .item {
      padding-top: 60%;
  }
  .main-pic img {
      width: 90%;
      margin: 0 5%;
  }
}

@media (max-width: 991.98px) {
  .contact-box {
      width: 50%;
      margin: 0 0 10px;
      align-items: flex-start;
  }
  .contact-box p .contact-box-title {
      display: block;
  }

  .footer-line {
    margin: 10px 5%;
  }

  .footer-left {
    margin: auto;
  }
}

@media (max-width: 768px) {
  /*============== footer ==============*/
  footer {
      font-size: 12px;
  }
  .footer-left {
      width: 100%;
  }

  .footer-right {
      width: 100%;
  }

  .footer-left p{
    font-size: 14px !important;
  }

  .footer-left a {
    font-size: 9px;
  }

  .footer-left p:nth-of-type(1) {
    margin-bottom: 50px;
    margin-top: 30px;
  } 

  .contact-box-warp {
    align-items: start;
  }
    .contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10px 0;
  }
  .contact-box p span {
    letter-spacing: 0.15rem;
  }
  .contact-box p {
    margin-bottom: 2px;
  }
}


@media (max-width: 500px) {
  /*============== footer ==============*/
  .foot-wrap {
      width: 88%;
      flex-direction: column;
      padding: 10% 0 5%;
  }

  .footer-line {
      display: none;
  }

  .footer-left {
    text-align: center;
  }
  .footer-right {
      margin: 10px 0;
      flex-direction: column;
      width: 100%;
  }

  .footer-left p:nth-of-type(1) {
    margin-bottom: 30px;
    margin-top: 15px;
  } 
}